[submodule "modules/ranger_opt"]
	path = modules/ranger_opt
	url = https://github.com/lessw2020/Ranger-Deep-Learning-Optimizer
	ignore = all
[submodule "modules/pytorch_cifar"]
	path = modules/pytorch_cifar
	url = https://github.com/kuangliu/pytorch-cifar
	ignore = all
[submodule "modules/base_defense/spectre-defense"]
	path = modules/base_defense/spectre-defense
	url = https://github.com/SewoongLab/spectre-defense.git